#back-to-top {
	display: none;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 15px;
	z-index: 99;
}

.bottom-space {
	height: 70px;
}

.col-lvl {
	text-align: center;
	display: inline-block;
	width: 15%;
	max-width: 100px;
}

/* placeholder for icon column, icons have width 28px */
.col-icon {
	width: 28px;
	display: inline-block;
}

#slider {
	margin: 0 10px;
	width: 100%;
}

#levelMin,
#levelMax {
	width: 30px;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

#slider .slider-handle {
	background: #666;
	cursor: pointer;
}

#slider .slider-selection {
	background: #999;
}

#thLevel,
#thName {
	cursor: pointer;
}

.fa-bookmark {
	order: 100;
	display: inline-block;
	font-size: 1.25em;
	height: 32px;
	padding: 6px 8px 6px 16px;
}
